{% extends '@Frontend/layout.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <div class="section section-padding courses-detail">
        <div class="container">
            <div class="courses-detail-wrapper">
                <div class="row">
                    <div class="col-md-12 layout-left">
                        <div class="course-des">
                            <div class="course-des-title underline">  3.3 Diagnóstico de prevención de incendios</div>
                            <div class="course-des-content" style="color:#49575f;">
                                <p>Diagnóstico para la Prevención de incendios. Referencia: Art. 19.</p>
                                <form>
                                    {#<div class="form-group">
                                        <label for="exampleInputEmail1">1.- Escriba el nombre de la Empresa</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">2.- Escriba el número de la Sucursal (en su caso)</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">3.- Antigüedad en la Organización (años)</label>
                                        <input type="text" class="form-control" >
                                    </div>#}
                                    {% set c=1 %}
                                    {% for pregunta in preguntas %}
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">{{ c }}.- {{ pregunta[0] }}</label>
                                            {% for opciones in pregunta[1] %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                                        {{ opciones }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% set c=c+1 %}
                                    {% endfor %}

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">18.- Nombre de quien contesta la encuesta: </label>
                                        <input type="text" class="form-control" >
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">19.- Puesto de quien contesta la encuesta: </label>
                                        <input type="text" class="form-control" >
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">20.- Nombre de la empresa y sucursal: </label>
                                        <input type="text" class="form-control" >
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">21.- Numero de la sucursal: </label>
                                        <input type="text" class="form-control" >
                                    </div>

                                    <button type="submit" class="btn btn-contact btn-green pull-right"><span>Enviar</span></button>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}