{% extends '@Frontend/layoutlogin.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <div class="page-register rlp">
        <div class="container">
            <div class="register-wrapper rlp-wrapper">
                <div class="register-table rlp-table"><a href="{{ path('login') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="" class="login" style="height: 100px; width: auto;"/></a>
                    <div class="register-title rlp-title">Formulario de registro</div>
                    <div class="register-form bg-w-form rlp-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="regname" class="control-label form-label">Nombre <span class="highlight">*</span></label>
                                <input id="regname" type="text" placeholder="" class="form-control form-input"/><!--p.help-block Warning !-->
                            </div>
                            <div class="col-md-6">
                                <label for="regemail" class="control-label form-label">email <span class="highlight">*</span></label>
                                <input id="regemail" type="email" placeholder="" class="form-control form-input"/><!-- p.help-block Warning !-->
                            </div>
                            <div class="col-md-6">
                                <label for="regpassword" class="control-label form-label">password <span class="highlight">*</span></label>
                                <input id="regpassword" type="password" placeholder="" class="form-control form-input"/><!-- p.help-block Warning !-->
                            </div>
                            <div class="col-md-6">
                                <label for="reregpassword" class="control-label form-label">confirmar password <span class="highlight">*</span></label>
                                <input id="reregpassword" type="password" placeholder="" class="form-control form-input"/><!-- p.help-block Warning !-->
                            </div>
                        </div>
                    </div>
                    <div class="register-submit">
                        <button type="submit" onclick="window.location.href='{{ path('homepage') }}'" class="btn btn-register btn-green"><span>Crear cuenta</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}