{% extends '@Frontend/layoutlogin.html.twig' %}
{% block stylesheets %}
    <style>
        .rlp-title {
            font-size: 30px!important;
        }
        p {
            text-align: justify;
            color: black;
        }
        ol{
            text-align: justify;
        }
    </style>
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <div class="page-register rlp" style="background-image: none; background-color: #004f6e; height: auto;">
        <div class="container">
            <div class="register-wrapper rlp-wrapper">
                <div class="register-table rlp-table">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="" class="login" style="height: 100px; width: auto;"/>
                    </a>
                    <div class="register-title rlp-title">Términos y Condiciones</div>
                    <h3>Primera</h3>
                    <h4>La Plataforma y sus Titulares</h4>
                    <p>Gracias por acceder al sitio de Internet Plataforma de Empresa Responsable (<a href="https://www.plataforma-er.com/">https://www.plataforma-er.com/</a>)
                        (“La Plataforma”). Por acceder, navegar y/o usar La Plataforma usted (el “Usuario”) reconoce que ha leído,
                        entendido en su totalidad y aceptado incondicionalmente sujetarse a los siguientes Términos y Condiciones
                        de Uso y Contratación (los “Términos de Uso”), los cuales tienen el carácter de vinculantes para el Usuario
                        desde el momento de acceder, navegar y/o usar La Plataforma. En caso de que el Usuario no se encuentre
                        conforme con los Términos de Uso, deberá abstenerse de usar o acceder al Sitio y abandonarlo de forma inmediata.</p>
                    <p>Se conmina al Usuario a que revise los presentes Términos de Uso de manera periódica, toda vez que los mismos,
                        conforme a lo establecido más adelante, podrán ser modificados por EMPRESA RESPONSABLE, A.C. periódicamente.
                        El uso continuo de La Plataforma por el Usuario supone la aceptación de las modificaciones antes referidas.</p>
                    <p>El Usuario reconoce expresamente que los contenidos de La Plataforma, su ingeniería, información, código y demás
                        elementos visibles o no contenidos en el mismo son propiedad de EMPRESA RESPONSABLE, A.C. y/o de sus legítimos
                        titulares conforme a las leyes aplicables.</p>
                    <p>EMPRESA RESPONSABLE, A.C. es una sociedad constituida y existente bajo las leyes de los Estados Unidos Mexicanos
                        (“México”), con domicilio en Paseo San Isidro 268, Piso 2, Barrio Santiaguito, Metepec, Estado de México, CP 52140.</p>
                    <h3>Segunda</h3>
                    <h4>Uso Autorizado de La Plataforma</h4>
                    <p>EMPRESA RESPONSABLE, A.C. autoriza al Usuario a utilizar La Plataforma única y exclusivamente a efecto de:</p>
                    <ol type="I">
                        <li> consultar la información relacionada con los Servicios (como se define más adelante);</li>
                        <li> contratar los Servicios; y</li>
                        <li> intercambiar información con otros usuarios de La Plataforma en relación con los Servicios y su experiencia respecto a los mismos.</li>
                    </ol>
                    <p>Nada de lo establecido en estos Términos de Uso autoriza al Usuario a disponer, lucrar o dar un uso distinto a
                        La Plataforma o a la información contenida en la misma, sea esta visible o no.</p>
                    <p>EMPRESA RESPONSABLE, A.C. se reserva el derecho a limitar o denegar la autorización de uso antes referida en
                        cualquier momento y sin necesidad de aviso previo, sin responsabilidad para EMPRESA RESPONSABLE, A.C.</p>
                    <h3>Tercera</h3>
                    <h4>Registro</h4>
                    <p>EMPRESA RESPONSABLE, A.C. a su entera discreción podrá establecer en La Plataforma zonas privadas o de acceso
                        restringido, las cuales serán accesibles única y exclusivamente por las personas que EMPRESA RESPONSABLE, A.C.
                        determine a su entera discreción, incluyendo zonas denominadas como de “usuarios registrados”, en las cuales se
                        permitirá el acceso y navegación al Usuario siempre que convengan en registrarse en La Plataforma y proporcionar
                        a EMPRESA RESPONSABLE, A.C. cierta información y datos personales (los “Datos Personales”). Para conocer los
                        términos bajo los cuales EMPRESA RESPONSABLE, A.C. conservará y utilizará dichos datos y cualquier otro que el
                        Usuario proporcione, lo conminamos a revisar nuestro Aviso de Privacidad.</p>
                    <p>A efecto de llevar a cabo su registro, el Usuario deberá llenar electrónicamente el formulario de inscripción que
                        indique EMPRESA RESPONSABLE, A.C. en todos sus campos con datos válidos. El Usuario deberá completarlo con sus Datos
                        Personales que sean en todo momento exactos, precisos y verdaderos y se obliga a actualizarlos conforme ello resulte
                        necesario y asume el compromiso de actualizar los Datos Personales conforme resulte necesario. El Usuario garantiza y
                        responde por la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados. EMPRESA RESPONSABLE,
                        A.C. estará autorizado, mas no obligado, a verificar lo anterior y para dichos efectos solicitar al Usuario la entrega
                        de documentación o evidencia física de sus Datos Personales.</p>
                    <p>El Usuario podrá acceder a su cuenta personal (“Cuenta”) y modificarla, actualizarla y/o cancelarla, a través de su
                        dirección de correo electrónico registrada o algún nombre de usuario, según lo determine EMPRESA RESPONSABLE, A.C.
                        a su entera discreción, y una clave de seguridad (“Password”). El Usuario se obliga a mantener como confidenciales
                        dichos datos y reconoce que la secrecía y salvaguarda de las mismas, excepto por violaciones a la seguridad de La
                        Plataforma, competen única y exclusivamente al Usuario.</p>
                    <p>Asimismo, el Usuario conviene en que la Cuenta será utilizada única y exclusivamente para su uso personal y por tanto
                        no será cedible o transferible, total o parcialmente en cualquiera de sus elementos, ni deberá permitirse su uso
                        compartido por parte de cualquier tercero, no obstante, lo cual, en caso de que lo anterior ocurra, no liberará
                        al Usuario de cualquier mal uso que se dé a sus Datos Personales o al Portal, incluyendo cualquier daño al mismo.
                        Igualmente, el Usuario conviene que podrá abrir única y exclusivamente una sola Cuenta, por lo que acepta que en
                        caso que sus Datos Personales, coincidan sustancialmente con los datos correspondientes a otra Cuenta, EMPRESA
                        RESPONSABLE, A.C. tendrá el derecho de suspender o cancelar ambas Cuentas sin responsabilidad alguna.</p>
                    <p>En caso de que el Usuario detecte que cualquier tercero ha obtenido acceso a su Cuenta o conoce el Password, el
                        Usuario se obliga a informar dicha situación de manera inmediata a EMPRESA RESPONSABLE, A.C., quien podrá adoptar
                        las medidas que considere necesarias.</p>
                    <p>EMPRESA RESPONSABLE, A.C. se reserva el derecho de rechazar o denegar cualquier solicitud de registro, sin que esté
                        obligada a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o
                        resarcimiento.</p>
                    <h3>Cuarta</h3>
                    <h4>No Garantías de Acceso</h4>
                    <p>EMPRESA RESPONSABLE, A.C. no se responsabiliza ni garantiza el uso correcto de La Plataforma, ni que el mismo se
                        encuentre disponible de manera ininterrumpida, en virtud de lo cual, cualquier falla o interrupción en el mismo
                        y/o los daños que el Usuario o cualquier tercero pudiese sufrir como consecuencia de ello, no será responsabilidad
                        de EMPRESA RESPONSABLE, A.C. No obstante lo anterior, el Usuario libera expresa e irrevocablemente a EMPRESA
                        RESPONSABLE, A.C. de cualquier responsabilidad en que pudiese incurrir bajo la ley aplicable en relación con lo
                        anterior y renuncia a cualesquiera acciones que tuviera al respecto. EMPRESA RESPONSABLE, A.C. no garantiza que
                        La Plataforma esté libre de errores, virus e interrupciones.</p>
                    <h3>Quinta</h3>
                    <h4>Servicios y Productos</h4>
                    <p>A través de La Plataforma se comercializarán servicios relacionados con la consultoría que ofrece EMPRESA
                        RESPONSABLE, A.C. (los “Servicios”). Los servicios se ofrecen por el personal e infraestructura de EMPRESA
                        RESPONSABLE, A.C., en virtud de lo cual cualquier responsabilidad relacionada con los mismos corresponderá a
                        EMPRESA RESPONSABLE, A.C. conforme la legislación aplicable. Igualmente, de manera eventual a comercializar
                        productos.</p>
                    <h3>Sexta</h3>
                    <h4>Tienda Online</h4>
                    <p>Los Servicios EMPRESA RESPONSABLE, A.C. son provistos preponderantemente bajo la modalidad de bajo demanda, en
                        la cual el Usuario contrata y paga a EMPRESA RESPONSABLE, A.C. (directa o indirectamente) una contraprestación
                        determinada. La contratación de una Membresía se perfecciona tras el llenado por parte del Usuario del formulario
                        correspondiente, su envío satisfactorio a EMPRESA RESPONSABLE, A.C. a través de La Plataforma y el pago de la
                        Contraprestación (como se define más adelante).</p>
                    <p>EMPRESA RESPONSABLE, A.C. a través de La Plataforma ofrecerá al Usuario las herramientas correspondientes para
                        hacer el pago de la Contraprestación y en caso de que el mismo sea procesado a través de medios remotos
                        informáticos, la responsabilidad sobre dichos procesos será de la compañía bancaria o procesadora correspondiente.</p>
                    <h3>Séptima</h3>
                    <h4>Violaciones al Sistema</h4>
                    <p>No está permitida ninguna acción o uso de dispositivo, software, código o similar que tenga como propósito
                        interferir en las operaciones de La Plataforma. EMPRESA RESPONSABLE, A.C. perseguirá a toda persona (físicas
                        o morales) que directa o indirectamente intente o lleve a cabo actividades violatorias o contrarias a los
                        presentes Términos de Uso y la legislación aplicable en relación con La Plataforma y ejercerá en su contra las
                        acciones legales a que tenga derecho conforme la legislación aplicable, haciéndolo responsable de indemnizar los
                        daños y perjuicios ocasionados.</p>
                    <h3>Octava</h3>
                    <h4>Suspensiones</h4>
                    <p>EMPRESA RESPONSABLE, A.C. podrá unilateralmente suspender el servicio de La Plataforma, deshabilitar o restringir
                        la Cuenta y/o suspender la entrega o tipo de los servicios, en cuyo caso el límite de su responsabilidad frente
                        al Usuario estará limitada, conforme lo establecido en la Sección Décimo Primera siguiente, al monto de los pagos
                        efectivamente hechos por el Usuario que estuvieren pendientes de aplicarse a los servicios correspondientes.</p>
                    <h3>Novena</h3>
                    <h4>Límite a la Responsabilidad EMPRESA RESPONSABLE, A.C.</h4>
                    <p>Excepto por lo que respecta a los Usuarios, EMPRESA RESPONSABLE, A.C. no tendrá responsabilidad alguna frente a
                        cualquier Usuario o tercero por el uso de La Plataforma.</p>
                    <p>En caso de que EMPRESA RESPONSABLE, A.C. fuere responsable por fallas en los Servicios, ésta podrá convenir con
                        el Usuario correspondiente, la forma de resarcirlo, la cual podrá ser a través del otorgamiento de
                        bonificaciones, puntos en programas de lealtad, Productos, etc. La aceptación por parte de dicho Usuario de lo
                        anterior, liberará a EMPRESA RESPONSABLE, A.C. de cualquier reclamación que surja con relación a las fallas o
                        incumplimientos antes referidos.</p>
                    <h3>Décima</h3>
                    <h4>Propiedad Intelectual</h4>
                    <p>El Usuario reconoce que el uso de La Plataforma no le otorga derecho alguno en relación con la información
                        publicada en el mismo o correspondiente a sus componentes, los cuales son propiedad de EMPRESA RESPONSABLE,
                        A.C. y/o de sus legítimos titulares. El Usuario se obliga a abstenerse de utilizar los elementos de La
                        Plataforma (incluyendo sus elementos y/o información no visible, de código o similar) para cualquier otro fin
                        que no sea los establecidos expresamente en el estos Términos de Uso.</p>
                    <p>Hasta donde lo permita la legislación aplicable, el Usuario renuncia de manera gratuita e irrevocable, en favor
                        de EMPRESA RESPONSABLE, A.C., a cualesquiera derechos que pudiese tener sobre los textos, opiniones,
                        fotografías y aportaciones que realice al Portal. En caso de que conforme la legislación aplicable dichos
                        derechos no pudiesen ser renunciados y cedidos en favor de EMPRESA RESPONSABLE, A.C., el Usuario otorga a
                        ésta una licencia gratuita, cedible, sublicenciable y por el plazo máximo permitido por la ley aplicable,
                        para que EMPRESA RESPONSABLE, A.C. use, explote y disfrute dichos derechos. Lo anterior de ninguna forma
                        deberá entenderse aplicable a aquella información que no sea propiedad o creación del Usuario y que haya
                        sido incluida en La Plataforma por el Usuario sin el consentimiento previo y por escrito de su legítimo
                        titular, obligándose el Usuario a sacar en paz y a salvo a EMPRESA RESPONSABLE, A.C. y sus representantes,
                        de cualquier daño, perjuicio o reclamación que resulte en contra de éstas por el uso, distribución y
                        publicitación de dicha información.</p>
                    <h3>Décima Primera</h3>
                    <h4>Privacidad de Información</h4>
                    <p>El uso de y las salvaguardas aplicables a los Datos Personales y cualquier otra información que eventualmente
                        sea proporcionada por el Usuario a EMPRESA RESPONSABLE, A.C. a través de La Plataforma o por cualquier otra
                        vía pero en relación a La Plataforma, se regirán por lo establecido en el Aviso de Privacidad de EMPRESA
                        RESPONSABLE, A.C..</p>
                    <h3>Décimo Segunda</h3>
                    <h4>Modificaciones</h4>
                    <p>EMPRESA RESPONSABLE, A.C. se reserva el derecho de sin responsabilidad, modificar, adicionar o suprimir total
                        o parcialmente estos Términos de Uso en cualquier momento y sin necesidad de notificación previa al Usuario.</p>
                    <h3>Décimo Tercera</h3>
                    <h4>Jurisdicción y Ley Aplicable</h4>
                    <p>Los presentes Términos de Uso se regularán e interpretarán conforme las leyes aplicables en México. Para
                        cualquier controversia que surja en relación con estos Términos de Uso y/o el uso de La Plataforma, EMPRESA
                        RESPONSABLE, A.C. y el Usuario se someten a los tribunales competentes residentes en la Ciudad de Toluca,
                        Estado de México, México, renunciando a cualquier otro fuero que pudiese corresponderles por cualquier motivo.</p>
                    <h3>POLÍTICA DE DEVOLUCIONES</h3>
                    <p>EMPRESA RESPONSABLE, A.C. devolverá el monto total a cualquier usuario que no esté conforme con el servicio
                        recibido o a cualquier persona que por equivocación haya realizado un pago, siempre y cuando sustente su queja
                        por escrito a <a href="mailto:info@empresaresponsable.org">info@empresaresponsable.org</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}